header{
    width: 100%;
    height: 200px;
    background: #ed2d83;
    background-size: cover;
    background-attachment: fixed;
   position: relative;
    }
    h1{
       text-align: center;
       color: #ffffff;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    }
    .img{
    width: 200px;
    height: 150px;
    display: block;
    margin: auto;
    padding: 40px;
    }
    h2{
    font-size: 28px;
    padding: 25px;
    color: #6b175e;
    text-align: right;
    display: block;
    margin: auto;
    }
    h3{
    font-size: 28px;
    padding: 25px;
    color: #eb1273b9;
    text-align: left;
    }
    .seccion1{
    width: 100%;
    height: 670px;
    background: #f875b0;
    background-size: cover;
   background-attachment: fixed;
    position: relative;
    }
    .seccion2{
    width: 100%;
    height: 700px;
    background: #eb5fb7;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    }
    .img1{
    width: 250px;
    height: 300px;
    padding: 30px;
    display: block;
    margin: auto;
    }
   
    .img2{
    width: 200px;
    height: 150px;
    padding: 30px;
    display: block;
    margin: auto
    }
    .img3{
    width: 200px;
    height: 150px;
    padding: 30px;
    display: block;
    margin: auto;
   }
    ol{
    font-size: 20px;
    text-align: left;
    color: aliceblue;
    }
    .seccion4{
    width: 100%;
    height: 520px;
    background: #f97ceb;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    }
    .video{
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
    padding: 20px;
    }
    .link{
    height: 50px;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    display: block;
    margin: auto;
    }
    .encabezado{
       font-size: 50px;
       display: flex;
       height: 200px;
       width: 100%;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       text-align: center;
       color: #ed2d83;
    }
   